<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>


    <link href="/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <!-- font Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

    <!-- icon Link -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />



    <link rel="stylesheet" href="/utilities.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>


<body class="m-0 p-0">

    <!-- fonts 
        
        'Montserrat'
        Cormorant-Garamond
        Playfair-Display


    -->

    <header class=" relative">

        <!-- Hero -->

        <div class="hero h-[70vh] flex relative">

            <div class="hero_bg w-full flex items-center justify-center relative font-['Montserrat']">

                <div class="direction-of-page absolute z-10 text-white flex gap-3 flex-col items-center justify-center">
                    <h1 class=" font-[Playfair-Display] text-7xl italic">About Us</h1>

                </div>

                <div
                    class="bgImage bg-img-scale-two bg-[url('https://images.unsplash.com/photo-1475823678248-624fc6f85785?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] brightness-50 absolute -z-10">
                </div>
            </div>

        </div>


         <!-- Navbar -->
         <div class="nav_no_bg_placeholder" id="nav_no_bg_placeholder"></div>
        
    </header>

    <main>

        <div class="about_us_info w-full relative flex flex-col gap-32 bg-white h-[150vh] justify-center items-center">
            <div class="part_one_info flex flex-row justify-center items-start w-[85vw] gap-24 ">
                <div class=" w-[35rem] text-wrap">
                    <h1 class=" font-[Playfair-Display] italic text-6xl ">From Vision To Vogue: The Birth Of
                        FemmeWardrobe</h1>
                </div>

                <div class=" w-[35rem] flex flex-col font-semibold text-justify gap-3 leading-relaxed">
                    <p class=" font-['Montserrat'] text-black">OUR STORY</p>
                    <p class=" font-[Cormorant-Garamond] italic text-black text-xl">Our Journey Began With A Simple Yet
                        Powerful Vision - To Redefine The Way Women Experience Fashion.</p>
                    <p class=" font-['Montserrat'] text-lg text-gray-400 ">Fueled by a passion for style and a
                        commitment to individuality, we embarked on a mission to curate a collection that speaks to the
                        diverse tastes and personalities of our cherished customers. From our humble beginnings to the
                        vibrant online space we inhabit today, each milestone represents a chapter in our story. Join us
                        on this fashion-forward adventure, where every piece tells a tale of inspiration, dedication,
                        and sartorial elegance.</p>
                </div>

            </div>

            <div class="sep w-[80vw] border-[1px] border-solid border-gray-300"></div>

            <div class="part_two_info w-[80vw] flex flex-col">
                <div class=" w-full flex flex-col font-semibold t gap-3">
                    <p class=" font-['Montserrat'] text-black">QUALITY ASSURANCE
                    </p>
                    <h1 class=" font-[Playfair-Display] italic text-6xl justify-start tracking-tight leading-relaxed">
                        We Understand That Fashion Is An Expression Of Identity, And We Take Pride In Delivering
                        Products That Embody The Highest Standards Of Quality.

                    </h1>

                    <p class=" font-['Montserrat'] text-lg text-gray-400 text-justify leading-relaxed">Our journey to
                        excellence begins with meticulous sourcing, where we carefully select materials that meet our
                        stringent criteria for durability, comfort, and style. Every garment is crafted with precision
                        in our state-of-the-art manufacturing facilities, ensuring attention to detail at every stitch.
                        Our commitment to quality doesn't end there – rigorous quality control processes guarantee that
                        each piece meets our exacting standards before it finds its way to your wardrobe. Trust in
                        FemmeWardrobe for fashion that not only captures attention but withstands the test of time.</p>
                </div>

            </div>


        </div>


        <div class="sec_Two h-[90vh] flex relative">
            <div class=" CUSTOMER_CENTRIC w-full flex items-center justify-center relative">

                <div class="part_two_info w-[45vw] flex flex-col absolute z-10 text-white left-28">
                    <div class=" w-full flex flex-col font-semibold t gap-3">
                        <p class=" font-['Montserrat']">CUSTOMER-CENTRIC APPROACH
                        </p>
                        <h1 class=" font-[Playfair-Display] italic text-6xl justify-start tracking-wide ">
                            Beyond Fashion: Nurturing A Customer-Centric Experience

                        </h1>

                        <p class=" font-['Montserrat'] text-base leading-relaxed">We believe that the essence of our
                            success lies in the satisfaction of our customers. Our commitment to providing an
                            exceptional shopping experience goes beyond trends and styles – it's about understanding and
                            meeting the unique needs of every individual who chooses FemmeWardrobe. From personalized
                            recommendations to hassle-free returns, we've crafted every aspect of our service with you
                            in mind. Our dedicated customer support team is here to ensure your journey with us is
                            seamless, enjoyable, and exceeds your expectations. Join our community of empowered fashion
                            enthusiasts, where your satisfaction is not just a priority; it's our passion.</p>
                    </div>

                </div>



                <div
                    class="bgImage bg-img-scale-advance h-[90vh] bg-[url('https://images.unsplash.com/photo-1505968409348-bd000797c92e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] brightness-50 absolute -z-10">
                </div>
            </div>
        </div>


        <div
            class="about_us_two_info w-full relative flex flex-col gap-6 bg-white h-[85vh] justify-center items-center">




            <div class="part_two-info_heading flex flex-col justify-start items-start absolute top-28 ">

                <p class=" font-['Montserrat'] text-black">SUSTAINABILITY INITIATIVES
                </p>
                <h1 class=" font-[Playfair-Display] italic text-6xl justify-start tracking-tight leading-relaxed">
                    Conscious Fashion For A Better Tomorrow

                </h1>
            </div>


            <div class="part_two_info flex flex-row justify-between items-start w-[85rem] gap-24 absolute top-72">

                <div class=" w-[35rem] text-wrap">

                    <h1 class=" font-[Playfair-Display] italic text-xl leading-relaxed tracking-wider">We Recognize
                        The Responsibility We Hold In Shaping A More Sustainable Future For Fashion. Our Commitment
                        To Eco-Friendly Practices And Sustainable Fashion Choices Is At The Core Of What We Do.</h1>
                </div>

                <div class=" w-[35rem] flex flex-col font-semibold text-balance gap-3 leading-relaxed">

                    <p class=" font-['Montserrat'] text-lg text-gray-400 ">From the careful selection of ethically
                        sourced materials to the implementation of environmentally conscious manufacturing
                        processes, every step we take is a stride toward a greener and more sustainable industry.
                    </p>
                    <p class=" font-['Montserrat'] text-lg text-gray-400 ">We prioritize transparency in our supply
                        chain, partnering with suppliers who share our values of fair labor practices and
                        environmental stewardship. Our sustainable fashion choices extend to packaging as well – we
                        use recyclable materials to minimize our environmental footprint. Join us on this journey
                        towards conscious fashion, where style meets responsibility, and every purchase contributes
                        to a brighter, eco-friendly tomorrow.</p>
                </div>

            </div>


        </div>


        <div class="sec_last h-[70vh] w-full relative flex bg-stone-600">

            <div class="explore_sec w-full flex flex-col absolute">

                <div
                    class="explore_bg_img bg-[url('https://images.unsplash.com/photo-1440508319978-8b67875e39d7?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-img-scale-two brightness-50">
                </div>

            </div>

            <div
                class="exp_card flex flex-col text-white gap-3 absolute w-[40%] right-36 top-36 justify-center items-start">

                <div class="exp_card_info text-white flex flex-col text-wrap space-y-2 justify-center items-start">
                    <p class=" font-['Montserrat']">EXPLORE</p>
                    <h1 class=" font-['Cormorant-Garamond'] italic w-[60%]">Elevate Your Wardrobe, Embrace Timeless
                        Style!
                    </h1>
                    <p class=" font-['Montserrat']">Explore our collections today and experience the joy of fashion.
                        Shop now for the epitome of chic sophistication!
                    </p>

                </div>

                <button
                    class=" border px-3 py-4 hover:bg-white hover:text-black hover:duration-700 hover: ease-out m-2 w-52">
                    Shop Now
                </button>
            </div>


        </div>

    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-placeholder" id="footer-placeholder"></div>
    </footer>



    <!-- Script Section -->
    <script type="module" src="../JS/aboutUs.js"></script>

</body>

</html>